extends layout

block content
  h1= currentBook.name
  p Name: #{currentBook.name}
  p Category: #{currentBook.category}
  p Year: #{currentBook.year}
  p Collection: #{currentBook.bookcollection}

